# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.cache/
dist/
build/
*.egg-info/

# Virtualenv
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/

# Local env files
.env
.env.*
